.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1%;
  background-color: #cecece;
  text-align: center;
  padding: 0.5%;
}
.city i {
  font-size: 150%;
}
.city h2 {
  font-size: 150%;
}